:root {
  --black: black;
  --thick-blue: rgb(108, 116, 238);
  --light-blue: rgb(117, 165, 242);
  --pale-blue: rgb(117, 190, 242);
  --white: white;
  --primary-color: rgb(54, 109, 252);
  --grey: rgb(170, 171, 176);
  --dark-blue: rgb(13, 23, 42);
  --dark-grey: rgb(60, 68, 84);
  --border-color: rgb(33, 43, 59);
  --border-bottom: rgb(231, 231, 231);
  --card-background: rgb(240, 229, 217);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter";
  /* font-weight: lighter; */
 
}
/* start of navbar */
ul li {
  list-style: none;
  margin-left: 3rem;
}
ul a {
  text-decoration: none;
  color: var(--black);
}
.link-wrap a:hover {
  color: var(--primary-color);
}
.link-wrap span {
  color: var(--primary-color);
}
.my-sweet-navbar,
.sidebar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 8rem;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  /* box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.3); */
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: var(--white);
  align-items: center;
}
.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  right: 0;
  bottom: 0;
  width: 15rem;
  padding: 2rem 0rem;
  padding-right: 3rem;
  z-index: 999;
  display: none;
 
}
.sidebar ul li {
  margin-bottom: 2.5rem;
}
.sidebar .remove {
  font-size: 2rem;
}
.my-sweet-navbar .link-wrap ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.3rem;
}
.logo h1 {
  font-size: 2.3rem;
}
.link-wrap .menu {
  font-size: 2rem;
}
/* End of navbar */
/* Start of hero section */
.hero-flex img {
  max-width: 20%;
  border-radius: 2rem;
}
.hero-section {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  padding: 2rem 2rem;
  width: 100%;
}
.hero-section h2 {
  font-size: 3rem;
  margin: 3rem 6rem;
}
.hero-section span {
  background-image: linear-gradient(
    to right,
    var(--thick-blue),
    var(--light-blue),
    var(--pale-blue)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.hero-flex {
  display: flex;
  gap: 3rem;
}
.hero-image {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: flex-start;
}
.hero-image img {
  height: 100%;
  margin: auto;
  width: auto;
}
.button {
  cursor: pointer;
  border: none;
  padding: 1rem;
  border-radius: 1rem;
}
.button:hover {
  opacity: 0.7;
}
.blue-button {
  color: var(--white);
  background-color: var(--primary-color);
}
.white-button {
  border: solid 2px var(--primary-color);
  color: var(--primary-color);
  background-color: var(--white);
  margin-top: 1rem;
}
.hero-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
/* End of hero section */
/* Start of rating section */
.rating-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 15rem;
}

.rating-stars,
.rating-experience {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.rating-stars .flex-star,
.flex-star2 {
  display: flex;
}
.yellow {
  color: yellow;
}
.green {
  color: green;
}
.rating-star i {
  font-size: 1rem;
}
.white {
  color: var(--white);
  background-color: green;
  padding: 0.1rem;
}
p {
  color: var(--grey);
}
.rating-section h3 {
  font-size: 1.5rem;
  font-weight: bold;
}
.rating-section h2 {
  font-size: 2.4rem;
  font-weight: bold;
}
.flex-star2 h4 {
  margin-bottom: 0.5rem;
}

/* End of rating section */
/* Start of companies section */
.company {
  display: flex;
  margin-top: 1rem;
}
.company h4 {
  font-weight: bold;
  font-size: 1.5rem;
}
.company-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem 3rem;
}
.company img {
  width: 20%;
}
.company-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* End of companies section */
/* Start of workflow section */
.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 1rem;
  border: solid 1px var(--border-color);
  padding: 1rem;
  border-radius: 1rem;
}
.grid .icon {
  font-size: 1.5rem;
  background-color: var(--dark-grey);
  padding: 1rem;
  border-radius: 2rem;
  color: var(--white);
}
.workflow-grid h3 {
  color: var(--white);
}
.workflow-grid {
  display: grid;
  /* grid-template-columns: repeat(2,1fr); */
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}
.grid2 h2 {
  color: var(--white);
  font-size: 2.5rem;
}
.grid2 {
  /* grid-row: 1 / 3;  */
  grid-row: span 3;
  grid-column: span 2;
  margin: auto;
}
.workflow-image img {
  max-width: 100%;
  border-radius: 5rem;
}
.dark-workflow {
  background-color: var(--dark-blue);
  padding: 8rem 8rem;
}

/* End of workflow section */
/* Start of service section */
.service-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.service-items {
  padding: 0.8rem 0;
  border-bottom: solid 1px var(--grey);
}

.service-item span {
  font-size: 1rem;
}
.service-item h2 {
  font-size: 2rem;
}
.service-section {
  padding: 2rem 8rem;
  background-color: var(--white);
}
.service-section h3 {
  font-size: 2.2rem;
}
.service-div1 {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px var(--grey);
  padding: 1.5rem 0;
}
.plus-icon,
.minus-icon {
  font-size: 1rem;
  padding: 0.3rem;
  border: solid 1px;
  border-radius: 2rem;
  cursor: pointer;
}
.minus-icon {
  background-color: var(--primary-color);
  color: var(--white);
  display: none;
  font-size: 1rem;
  padding: 0.3rem;
  border: none;
}
.service-section .minus-icon,
.service-section #para1 {
  display: none;
}
/* End of service section */
/* Start of evolution section */
.evolution {
  display: flex;
  align-items: center;
  gap: 4rem;
  padding: 3rem 8rem;
}
.evolution h2 {
  font-size: 2.5rem;
}
.evolution p {
  margin-bottom: 1rem;
}
.evolution .add {
  width: 10rem;
  margin-top: 1rem;
}
/* End of evolution section */
/* Start of cards secttion */
.scroll-text-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}
.scroll-header {
  padding: 3rem 8rem;
}

.scroll-button .arrow {
  padding: 1rem;
  border-radius: 2rem;
  color: var(--grey);
  border: solid 1px var(--grey);
  margin-right: 1rem;
  cursor: pointer;
}
.click {
  color: var(--white);
  background-color: var(--primary-color);
  border: none;
}
.card-image img {
  max-width: 21rem;
}
.card-image {
  border-radius: 2rem;
  background-color: var(--card-background);
}
.card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0.5rem;
}
.person-socials img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
}
.cards {
  display: flex;
  gap: 2rem;
  overflow-x: hidden;
  transition: 0.5s;
  /* white-space: nowrap; */
}
.scroll-text h2 {
  font-size: 2.5rem;
}

/* End of cards secttion */
/*  Start of footer */
.footer {
  background-color: var(--dark-blue);
  padding: 4rem 8rem;
}
.footer1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
  margin-bottom: solid 1px var(--border-color);
}
.footer h2 {
  font-size: 2.5rem;
}
.blob {
  padding: 5rem 2rem;
  background-color: var(--primary-color);
  border-radius: 10rem;
}
.blob h3 {
  font-size: 1.5rem;
  font-weight: bold;
}
.logo1 {
  display: flex;
  align-items: center;
  gap: .5rem;
}
.logo1 img {
  width: 3rem;
  height: 3rem;
}
.logo1 h2 {
  color: white;
}
.push-button {
  display: flex;
  padding: 0.5rem 0;
  justify-content: space-between;
  width: 25%;
  color: white;
}
.push-button input {
  outline: none;
  border: none;
  background-color: var(--dark-blue);
  color: var(--white);
}
.footer2-left {
  color: var(--white);
  border-bottom: solid 1px var(--border-color);
}
.footer2-left > * {
  margin-top: 3rem;
}
.greater {
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: black;
}
.footer2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 0;
}
.footer2-right a {
  text-decoration: none;
  color: var(--grey);
}
.footer2-right h4 {
  font-size: 1.5rem;
  color: var(--white);
}
.footer2-right * {
  margin-bottom: 1.5rem;
}
.wrapper {
  display: flex;
  gap: 8rem;
}
.footer3 .footer3-right {
  color: white;
}
.footer3 img {
  max-width: 1.5rem;
}
.footer3 {
  display: flex;
  justify-content: space-between;
  border-top: solid 1px var(--border-color);
  padding-top: 3rem;
}
.footer3-left {
  display: flex;
  gap: 3rem;
}

/*  End of footer */

/* Responsive design */
/* small screens */
@media (max-width: 768px) {
  br {
    display: none;
  }
  .logo h1{
    font-size: 2rem;
  }
  .hero-text {
    text-align: center;
  }

  .my-sweet-navbar .remove-link {
    display: none;
  }
  .hero-flex-buttons {
    margin-top: 0.5rem;
    width: 98%;
  }
  .hero-flex-2 {
    padding: 0;
    margin: 0;
  }
  .my-sweet-navbar {
    padding: 1rem 1rem;
  }
  .hero-image {
    display: none;
  }
  .hero-flex {
    flex-direction: column;
  }
  .hero-flex img {
    display: none;
  }
  .hero-text h2 {
    font-size: 2rem;
    margin: 0;
  }

  .hero-section {
    padding: 2rem 1rem;
    display: flex;
  }
  .rating-star {
    align-items: center;
    margin: auto;
  }
  .rating-section {
    flex-direction: column;
    padding: 0 1rem;
    align-items: normal;

    gap: 2rem;
  }
  .rate {
    text-align: center;
  }
  .company-logo-1 {
    display: none;
  }
  .rating-stars,
  .rating-experience {
    justify-content: space-between;
  }
  .company {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
    padding: 0;
  }
  .company-section {
    padding: 2rem 0rem;
    margin: 0;
  }
  .company h4 {
    font-size: 1.2rem;
  }
  .dark-workflow {
    padding: 2rem 1rem;
  }
  .workflow-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  .workflow-grid > :nth-child(3) {
    order: 2;
  }
  .grid2 h2 {
    font-size: 1.8rem;
    margin-bottom: 0.4rem;
  }
  .dark-workflow img {
    border-radius: 1rem;
    margin-top: 1rem;
  }
  .service-div1 {
    flex-direction: column;
  }
  .service-section {
    padding: 2rem 2rem;
  }
  .service-section h2 {
    font-size: 1.2rem;
  }
  .plus-icon {
    padding: 0.2rem;
    font-size: 1rem;
  }
  .evolution {
    flex-direction: column;
    padding: 1rem 2rem;
    gap: 1rem;
  }
  .evolution h2,
  .service-section h3 {
    font-size: 1.4rem;
  }
  .evolution p {
    margin-bottom: 0;
  }
  .scroll-header {
    padding: 1rem 2rem;
    gap: 1rem;
  }
  .scroll-text-button {
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 1rem;
  }
  .scroll-text h2 {
    font-size: 1.5rem;
  }
  .scroll-button .arrow {
    margin: 0;
    padding: 0.5rem;
    border-radius: 1rem;
    margin-left: 2rem;
  }
  .footer {
    padding: 2rem;
  }
  .blob {
    display: none;
  }
  .footer1 h2 {
    font-size: 1.2rem;
  }
  .footer2 {
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;
    align-items: normal;
  }
  .footer3 {
    padding: 2rem 0;
  }
  .wrapper {
    flex-direction: column;
    gap: 1rem;
  }
  .rating-section h2 {
    font-size: 1.5rem;
  }

  .footer3-left S{
    flex-direction: column;
    gap: 0;
  }
  .footer2-left > * {
    margin-top: 2rem;
  }
  .grid2 h2{
    font-size: 1.6rem;
  }
  .logo1 img {
    width: 2rem;
    height: 2rem;
  }
  .logo1 h2 {
  font-size: 1.4rem;

  }
}

/* Medium screens */
@media (min-width: 769px) and (max-width: 992px) {
  .my-sweet-navbar .remove-link {
    display: none;
  }
  .my-sweet-navbar {
    padding: 1rem 4rem;
  }
  .hero-image img {
    width: 100%;
  }
  .hero-section h2 {
    font-size: 2rem;
    margin: 1rem 2rem;
  }
  .hero-text {
    justify-content: safe;
  }
  .button {
    padding: 0.8rem;
    margin-top: 0.5rem;
  }
  .hero-flex img {
    max-width: 25%;
  }
  .rating-section {
    justify-content: space-between;
    padding: 2rem 4rem;
    gap: 4rem;
  }
  .workflow-grid > :nth-child(3) {
    order: 2;
  }
  .workflow-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  /* .grid2{
    margin: auto;
  } */
  .dark-workflow {
    padding: 2rem 3rem;
  }
  .grid2 h2 {
    font-size: 1.5rem;
    margin-bottom: 0.4rem;
  }
  .grid2 br {
    display: none;
  }
  .dark-workflow img {
    margin-top: 1rem;
  }
  .service-section {
    padding: 2rem 3rem;
  }
  .service-section h3 {
    font-size: 1.6rem;
  }
  .service-section h2 {
    font-size: 1.5rem;
  }
  .evolution h2 {
    font-size: 1.6rem;
  }
  .evolution {
    padding: 2rem 3rem;

    br {
      display: none;
    }
  }

  .scroll-header {
    padding: 2rem 3rem;
  }
  .scroll-text-button {
    margin-bottom: 2rem;
  }
  .footer2 {
    flex-direction: column;
    align-items: normal;
    padding: 1rem 0;
    gap: 3rem;
  }
  .footer {
    padding: 2rem 3rem;
  }
  .blob {
    padding: 4.5rem 1rem;
  }
  .footer h2 {
    font-size: 1.6rem;
  }
  .footer2-left > * {
    margin-top: 2rem;
  }
}

/* large screens */
@media (min-width: 993px) {
  .my-sweet-navbar #menu {
    display: none;
  }
  .hero-section h2 {
    margin-right: 0;
  }
  .my-sweet-navbar {
    padding: 1rem 6rem;
  }
}
